/* ========== NAVBAR ========= */

@media(max-width: 991px){
    .navbar{
        background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
    }

    .navbar-brand{
        color: white !important;
    }

    .navbar-nav{
        gap: 0 !important;
        margin-left: 0 !important;
        width: 100%;
    }

    .fa-bars{
        color: white;
    }

    .theme{
        position: absolute;
        bottom: 10%;
        right: 0%;
    }

    .nav-link{
        margin-left: 0 !important;
        padding-left: .5rem;
    }

    .nav-link:focus{
        background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
        border-radius: 5px;
        color: white;
        transition: .1s;
    }

    .underline{
        display: none;
    }
}

@media(max-width: 767px){
    .navbar-brand{
        margin-left: .5rem !important;
    }
}

/* ======= HERO SECTION ========== */

@media(max-width: 991px){
    .hero-section{
        row-gap: 2rem;
        justify-content: center;
    }

    .biography-img{
        width: 90% !important;
    }

    .img-wrapper{
        width: 80% !important;
    }
}

@media(max-width: 767px){
   
    .intro-name{
        font-size: 1.2rem !important;
    }
    
    .introduction{
        font-size: 2rem;
    }

    .intro-location{
        font-size: 1.1rem !important;
    }
}

@media(max-width: 575px){
    
    .introduction{
        font-size: 1.6rem;
    }
}

/* ===== ABOUT SECTION ===== */
@media(max-width: 991.98px){
    .about{
        margin-top: 80rem;
    }
}

@media(max-width: 767.98px){
    .about{
        margin-top: 70rem;
    }
}

@media(max-width: 575.98px){
    .about{
        margin-top: 53rem;
    }
}

@media(max-width: 312px){
    .about{
       margin-top: 60rem;
    }
}