/* ========== NAVBAR ========= */

@media(max-width: 991.98px){
    .navbar{
        position: fixed !important;
        background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
    }

    .navbar-brand{
        color: white !important;
        transform: scale(1.0) !important;
        transition: 0s;
    }

    .navbar-nav{
        gap: 0 !important;
        margin-left: 0 !important;
        width: 100%;
    }

    .fa-bars{
        color: white;
    }

    .theme{
        position: absolute;
        bottom: 10%;
        right: 0%;
    }

    .nav-link{
        margin-left: 0 !important;
        padding-left: .5rem;
    }

    .nav-link:focus{
        background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
        border-radius: 5px;
        color: white;
        transition: .1s;
    }

    .underline{
        display: none;
    }

}

@media(max-width: 767.98px){
    .navbar-brand{
        margin-left: .5rem !important;
    }
}

/* ======= HERO SECTION ========== */

@media(max-width: 991.98px){
    .hero-section{
        margin-top: 20%;
        flex-direction: column;
        row-gap: 4rem;
        justify-content: center;
        
    }

    .hero-col{
        width: 100%;
        text-align: center;
    }

    .svg1, .svg2{
        display: none;
    }

    .biography-img{
        width: 70% !important;
    }

    .img-wrapper{
        width: 80% !important;
    }

    .intro-location{
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

@media(max-width: 767.98px){
    .hero-section{
        margin-top: 25%;
    }

    .intro-name{
        font-size: 1.2rem !important;
    }
    
    .introduction{
        font-size: 2rem;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .intro-location{
        font-size: 1.1rem !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media(max-width: 575.98px){
    .hero-section{
        margin-top: 30%;
    }

    .biography-img{
        width: 100% !important;
    }

    .introduction{
        margin-top: .5rem !important;
        font-size: 1.6rem;
    }
}

@media(max-width: 420px){
    .hero-section{
        
        padding-top: 3rem;
    }
}
/* ===== ABOUT SECTION ===== */
