body{
    font-family: 'poppins', Montserrat;
}

.header{
    overflow-x: hidden;
    background: url('../image/undefined.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* =============================================
            NAVBAR SECTION
================================================ */

.navbar{
    width: 100%;
    left: 0;
    z-index: +1;
}

.navbar-brand{
    font-weight: 800;
    transition: 1s;
}

.navbar-brand:hover{
    transform: scale(1.1);
    transition: 1s;
}

.navbar-toggler{
    width: 2.5rem;
    height: 2rem;
    padding: 0;
}

.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none !important;
}

.offcanvas{
    width: 60% !important;
}

.nav-link{
    position: relative;
    color: black;
    display: inline-block;
    overflow: hidden;
}

.nav-link .underline{
    position: absolute;
    left: -100%;
    width: 75%;
    height: 3px;
    background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
}

.nav-link:hover .underline{
    left: 100%;
    transition: 2s;
}

.theme-btn{
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 100%;
}

.btn-x:focus{
    box-shadow: none;
    border: none;
}

/* ======= HERO SECTION ======= */

.hero-section{
    align-items: center;
    margin-top: 12%;
}

.hero-col{
    
    width: 50%;
}

.svg1{
    top: 0;
    left: 5%;
    animation: svg1 20s ease-in-out infinite;
}

@keyframes svg1{
    0%{
        left: 18%;
    }

    25%{
        left: -10%;
    }

    50%{
        left: 18%;
    }

    75%{
        left: -10%;
    }

    100%{
        left: 18%;
    }
}


.svg2{
    bottom: 0;
    right: 5%;
    animation: svg2 20s ease-in-out infinite;
}

@keyframes svg2{
    0%{
        right: 10%;
    }

    25%{
        right: -10%;
    }

    50%{
        right: 10%;
    }

    75%{
        right: -10%;
    }

    100%{
        right: 10%;
    }
}

.biography-img{
    width: 50%;
}

.biography{
    animation: slide-in 2s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
}

@keyframes slide-in{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

@-moz-keyframes slide-in{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0%);
    }
}

.biography:nth-child(2){
    animation-delay: 500ms;
}

.biography:nth-child(3){
    animation-delay: 1000ms;
}

.img-wrapper{
    animation: slide 2s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(100%);
}

@keyframes slide{
    0%{
        transform: translateX(130%);
    }

    100%{
        transform: translateX(0%);
    }
}

@-moz-keyframes slide-in{
    0%{
        transform: translateX(150%);
    }

    100%{
        transform: translateX(0%);
    }
}

.introduction{
    font-size: 2.3rem;
    transition: 1s;
}

.intro-name{
    transition: 1s;
}

.intro-location{
    transition: 1s;
}

.connect-btn{
    padding-top: .7rem !important;
    padding-bottom: .7rem !important;
    border: 0;
    letter-spacing: 2px;
    background: linear-gradient(to right, rgb(188, 15, 236), rgb(47, 33, 243));
    color: white;
    animation: zoom 3s ease-in-out infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.0);
    }

    25%{
        transform: scale(1.05);
    }

    50%{
        transform: scale(1.0);
    }

    75%{
        transform: scale(1.05);
    }

    100%{
        transform: scale(1.0);
    }
}



.connect-btn:hover{
    /* background: rgb(165, 12, 207) !important; */
    color: white !important;
    animation-play-state: paused;
}

.connect-btn:active{
    animation-play-state: paused;
}

.modal-close{
    background: transparent;
}

.fa-telegram,
.fa-linkedin-in{
    color: rgb(37, 158, 215);
}

/* ====== ABOUT SECTION ======= */
/* .about{
    margin-top: 60%;
} */